<a href="https://colab.research.google.com/github/hairyhito/Algoritma-dan-Pemrograman/blob/main/M_Rhafi_Hairy_M_Penugasan_2pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Penugasan 01. Identitas Mahasiswa

In [11]:
nm = str(input("Masukkan Nama Anda : "))
um = int(input("Masukkan Umur Anda : "))
tg = float(input("Masukkan Tinggi Anda : "))
mh = (print("Status Aktif : ", True))
mh = True
  #if mh == True :
   # ms = print("Aktif")
  #else :
   # ms = print("Tidak Aktif")

print(f"Hai {nm}, saat ini kamu berusia {um} tahun dengan tinggi badan {tg} cm dan {mh} sebagai mahasiswa" )

Masukkan Nama Anda : Ruski
Masukkan Umur Anda : 19
Masukkan Tinggi Anda : 156
Status Aktif :  True
Hai Ruski, saat ini kamu berusia 19 tahun dengan tinggi badan 156.0 cm dan True sebagai mahasiswa

Penugasan 02. Operasi Aritmatika

In [13]:
a = int(input("Nilai a = "))
b = int(input("Nilai b = "))

print ("a + b =", a+b)
print ("a - b =", a-b)
print ("a * b =", a*b)
print ("a / b =", a/b)
print ("a // b =", a//b)
print ("a % b =", a%b)
print ("a ^ b =", a**b)

Nilai a = 20
Nilai b = 10
a + b = 30
a - b = 10
a * b = 200
a / b = 2.0
a // b = 2
a % b = 0
a ^ b = 10240000000000

Penugasan 03. Konversi Nilai

In [21]:
a = float(input("Nilai angka = "))
print(type (a), a)

b = int(a)
print(type(b), b)

c = str(a)
print(type(c), c)

d = (round(a))
print(type(d), d)

Nilai angka = 123.56
<class 'float'> 123.56
<class 'int'> 123
<class 'str'> 123.56
<class 'int'> 124

Penugasan 04. Operator Relasional

In [22]:
a = int(input("Nilai a = "))
b = int(input("Nilai b = "))

print ("a == b =", a==b)
print ("a != b =", a!=b)
print ("a >= b =", a>=b)
print ("a <= b =", a<=b)
print ("a > b =", a>b)
print ("a < b =", a<b)

Nilai a = 20
Nilai b = 12
a == b = False
a != b = True
a >= b = True
a <= b = False
a > b = True
a < b = False