<a href="https://colab.research.google.com/github/hairyhito/Algoritma-dan-Pemrograman/blob/main/M_Rhafi_Hairy_M_Jobsheet7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 07

Praktikum 01. Tuple : Data Tetap

In [2]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

Praktikum 02. Dictionary Dasar

In [3]:
mahasiswa = {
"NIM": "20251001",
"Nama": "Andi",
"Prodi": "TRK"
 }

print("NIM :", mahasiswa["NIM"])
print("Nama:", mahasiswa["Nama"])
print("Prodi:", mahasiswa["Prodi"])

NIM : 20251001
Nama: Andi
Prodi: TRK

Praktikum 03. Operasi Dictionary

In [4]:
mahasiswa = {
"NIM": "20251001",
"Nama": "Andi",
"Prodi": "TRK"
 }

mahasiswa["Umur"] = 20 # menambah data
mahasiswa["Prodi"] = "Teknik Komputer" # memperbarui data
del mahasiswa["Umur"] # menghapus data
print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

Praktikum 04. Set dan operasi Himpunan

In [5]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

Praktikum 05. Studi Kasus - Mata Kuliah

In [6]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah Mhs1:", mhs1)
print("Mata kuliah Mhs2:", mhs2)
print("Mata kuliah yang sama:", mhs1 & mhs2)

Mata kuliah Mhs1: {'Matematika', 'Algoritma', 'Bahasa Inggris'}
Mata kuliah Mhs2: {'Basis Data', 'Matematika', 'Algoritma'}
Mata kuliah yang sama: {'Matematika', 'Algoritma'}

Praktikum 06. Studi Kasus - Dictionary : Daftar Nilai

In [8]:
nilai_mahasiswa = {
 "Andi": 80,
 "Budi": 75,
 "Cici": 90
}

for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")
rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

# Penugasan 07

Penugasan 01. Tuple Sederhana

In [9]:
nama = ("Andi", "Budi", "Cici", "Dedi")
umur = (20, 21, 19, 18)
prodi = ("Teknik Komputer", "Sistem Informasi", "Teknik Elektro", "Manajemen")
print(nama[1], umur[2], prodi[0])
print(nama[0], umur[1], prodi[2])
print(nama[2], umur[0], prodi[3])
print(nama[3], umur[2], prodi[1])

Budi 19 Teknik Komputer
Andi 21 Teknik Elektro
Cici 20 Manajemen
Dedi 19 Sistem Informasi

Penugasan 02. Tuple Tidak Bisa Diubah

In [ ]:
nilai = (1,2,3)

Penugasan 03. Dictionary Dasar

In [13]:
Buku = {
"Judul": "Algoritma",
"Penulis": "Munir",
"Tahun": 2021 }
print("Judul :", Buku["Judul"])
print("Penulis :", Buku["Penulis"])
print("Tahun Rilis: ", Buku["Tahun"])

Judul : Algoritma
Penulis : Munir
Tahun Rilis:  2021

Penugasan 04. Operasi Dictionary

In [14]:
dosen = {
"NIP": "12345",
"Nama": "Budi",
"Prodi": "TRK"
}
dosen["Umur"] = 40
dosen["Prodi"] = "Teknik Komputer"
del dosen["Umur"]
print(dosen)

{'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

Penugasan 05. Set dan Himpunan

In [15]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}
print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {'Algoritma', 'Basis Data', 'Matematika', 'Bahasa Inggris'}
Intersection: {'Matematika', 'Algoritma'}
Difference: {'Bahasa Inggris'}

Penugasan 06. Studi Kasus - Dictionary

In [17]:
nilai_mahasiswa = {
"Andi": 85,
"Budi": 90,
"Cici": 78
  }
for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")
rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 85
Budi: 90
Cici: 78
Rata-rata nilai: 84.33

Penugasan 07. Studi Kasus Set - Klub Mahasiswa

In [18]:
A = {"Andi", "Budi", "Cici"}
B = {"Cici", "Deni", "Eka"}
print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {'Deni', 'Cici', 'Eka', 'Andi', 'Budi'}
Intersection: {'Cici'}
Difference: {'Andi', 'Budi'}