<a href="https://colab.research.google.com/github/hairyhito/Algoritma-dan-Pemrograman/blob/main/M_Rhafi_Hairy_M_Jobsheet4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PRAKTIKUM 04

Praktikum 01. Pengulangan For dengan Range

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

Praktikum 02. Perulangan While

In [ ]:
n = int(input("Nilai n : "))
while n > 0 :
  print(n)
  n = n -1

Nilai n :5
5
4
3
2
1

Praktikum 03. Nested Loop

In [ ]:
for i in range (1,6) :
  for j in range (1,i) :
    print("*", end="")
  print()

*
**
***
****

Praktikum 04,1. Break

In [ ]:
for i in range (1,11):
  print (i)
  if i == 5 :
    print("Angka 5 Ditemukan")
    break

1
2
3
4
5
Angka 5 Ditemukan

Praktikum 04,2. Continue

In [ ]:
for i in range(1,6):
  if i % 2 == 1 :
    continue
  print (i)

2
4

Praktikum 05. For pada Dictionary

In [ ]:
data = {"Nama" : "Andi", "Umur" : 20, "Prodi" : "TRK"}
for key, value in data.items():
  print(key,":", value)

Nama : Andi
Umur : 20
Prodi : TRK

Praktikum 06. For dengan Enumerate

In [ ]:
daftar = ["Andi", "Budi", "Cici"]
for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Andi
2 Budi
3 Cici

Praktikum 07. Studi Kasus: Program Kasir Multi-Item

In [ ]:
total = 0

while True :
  barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai" :
    break
  harga = float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  total += harga * jumlah

print(f"Total belanja: {total}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): makanan
Masukkan hargamakanan: 2000
Masukkan jumlah makanan: 2
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai
Total belanja: 4000.0

#PENUGASAN PRAKTIKUM 04

Penugasan 01. Menampilkan Deret Angka

In [ ]:
for i in range(3,30,3):
  print(i)

3
6
9
12
15
18
21
24
27

Penugasan 02. Hitung Faktorial

In [ ]:
n = int(input("Masukkan nilai n: "))
faktorial = 1
while n > 0 :
  faktorial *= n
  n -= 1
print(f"Faktorialnya adalah {faktorial}")

Masukkan nilai n: 34
Faktorialnya adalah 295232799039604140847618609643520000000

Penugasan 03. Pola Segitiga Terbalik

In [ ]:
for i in range (1,6) :
  for j in range (i,6) :
    print("*", end="")
  print()

*****
****
***
**
*

Penugasan 04. Cari Bilangan Prima dengan Break

In [ ]:
n = int(input("Masukkan nilai n: "))
for i in range(2,n):
  if n % i == 0:
    print(f"{n} bukan bilangan prima")
    break
else:
  print(f"{n} adalah bilangan prima")

Masukkan nilai n: 4
4 bukan bilangan prima

Penugasan 05. Tampilkan Hanya Bilangan Genap dengan Continue

In [ ]:
for i in range(1,21):
  if i % 2 == 1 :
    continue
  print (i)

2
4
6
8
10
12
14
16
18
20

Penugasan 06. Iterasi Dictionary Mahasiswa

In [ ]:
mahasiswa = {"Nama":"Budi", "Umur":21, "Prodi":"Teknik Komputer"}
for key, value in mahasiswa.items() :
  print(key, ":", value)

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

Penugasan 07. Enumerate Daftar Barang

In [ ]:
daftar = ["Buku","Pulpen", "Tas"]
for i, barang in enumerate(daftar, start=1) :
  print(i, barang)

1 Buku
2 Pulpen
3 Tas

Penugasan 08. Studi Kasus-Kasir Diskon

In [7]:
total = 0

while True :
  barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai" :
    break
  harga = float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  total += harga * jumlah

diskon = 0
if total >= 200000 :
  diskon = total * 0.1

total -= diskon

print(f"Total belanja: {total}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): es
Masukkan harga es: 200000
Masukkan jumlah es: 1
Masukkan nama barang (ketik 'selesai' untuk berhenti): selsai
Masukkan harga selsai: 0
Masukkan jumlah selsai: 0
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai
Total belanja: 180000.0